[user]
	name = Jason Lieb
	email = Jason.lieb@outlook.com
[init]
	defaultBranch = main
[core]
	editor = code --wait
[fetch]
	prune = true
[merge]
	ff = only
# 	tool = nvimdiff
[pull]
	ff = only
	autostash = true
[push]
	default = current
[rebase]
	autoSquash = true
	autoStash = true
	stat = true
